


h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #959493;
  text-align: center;
}
body {
  background-color: #E1DAD8
}
p{
  text-align: center;
  letter-spacing: 2px;
  font-size:
}
p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.img {
  width: 300px;
}

.img {
  width: 300px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
